.ContentPanel {
    min-height: 220px;
    max-height: calc(100vh - 104.59px - 196.59px);

    .gridWrapper {
        > div {
            height: 100%;
            width: fit-content;
        }
    }
}